asgiref==3.9.1; python_version >= "3.13"
colorama==0.4.6; python_version >= "3.13" and sys_platform == "win32"
django-extensions==4.1; python_version >= "3.13"
django==5.2.4; python_version >= "3.13"
djangorestframework==3.16.0; python_version >= "3.13"
django-debug-toolbar==4.4.2; python_version >= "3.13"
factory-boy==3.3.3; python_version >= "3.13"
faker==37.4.0; python_version >= "3.13"
iniconfig==2.1.0; python_version >= "3.13"
packaging==25.0; python_version >= "3.13"
pluggy==1.6.0; python_version >= "3.13"
pygments==2.19.2; python_version >= "3.13"
pytest==8.4.1; python_version >= "3.13"
sqlparse==0.5.3; python_version >= "3.13"
tzdata==2025.2; python_version >= "3.13"