name: Python application

on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12, 3.13]
        poetry-version: [1.5.1, 1.6.1]

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry ${{ matrix.poetry-version }}
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        python -m pip install poetry==${{ matrix.poetry-version }}
        
    - name: View poetry --help
      run:  poetry --help

    - name: Install dependencies
      run: poetry install
    
    - name: Check installed packages
      run: poetry show


    - name: Test
      env:
        DJANGO_ALLOWED_HOSTS: "127.0.0.1 localhost"
        SECRET_KEY: "django-insecure-uma-string-aleatoria-32-caracteres"
      run: |
        poetry run python manage.py test
